<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Family Form </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>
<body>
<div class="bs-example">
    <form>
        <div class="form-group">
            <label for="childName">Name</label>
            <input type="Child Name" class="form-control" id="inputName" placeholder="Child Name">
        </div>
        <div class="form-group">
            <label for="childAge">Age</label>
            <input type="Child Age" class="form-control" id="inputPhone" placeholder="Age">
        </div>
                <div class="form-group">
            <label for="childAllergies">Allergies</label>
            <input type="Allerigies" class="form-control" id="inputAddress" placeholder="Allergies">
        </div>
              <div class="form-group">
            <label for="childFavFood">Favorite Food</label>
            <input type="Food" class="form-control" id="inputNanny" placeholder="Favorite Food">
        </div>
            <div class="form-group">
    <label for="inputNanny">Interests</label>
    <input type="inputNanny" class="form-control" id="inputNanny" placeholder="primary">
    <input type="inputNanny" class="form-control" id="inputNanny" placeholder="secondary">
    <input type="inputNanny" class="form-control" id="inputNanny" placeholder="additional">
        </div>

        <div class="form-group">
    <label for="inputNanny">Bed-Time</label>
    <input type="inputNanny" class="form-control" id="inputNanny" placeholder="Bed-Time">
      </div>
          <div class="form-group">


            <div class="checkbox">
              <label>Potty-Trained</label>
              <label><input type="checkbox">true</label>
                <label><input type="checkbox">false</label>
            </div>

              <div class="checkbox">
              <label>Special Needs</label>
              <label><input type="checkbox">true</label>
                <label><input type="checkbox">false</label>
            </div>
        <!--<div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-secondary">Add Child</button>
    </form>
</div>
</body>
</html>
