<article class="bs-example">
   <form>
       <div class="form-group">
           <label for="familyName">Family Name</label>
           <input type="Family Name" class="form-control" id="inputName" placeholder="FamilyName">
       </div>
       <div class="form-group">
           <label for="familyPhone">Phone Number</label>
           <input type="Phone Number" class="form-control" id="inputPhone" placeholder="Phone Number">
       </div>
               <div class="form-group">
           <label for="inputAddress">Home Address</label>
           <input type="address" class="form-control" id="inputAddress" placeholder="Address">
       </div>
       <div class="form-group">
           <label for="inputNanny">Nanny Name</label>
           <input type="inputNanny" class="form-control" id="inputNanny" placeholder="Nanny Name">
       </div>

       <div class="form-group">
         <label for="inputPhotoURL">Photo URL</label>
         <input type="inputPhotoURL" class="form-control" id="inputPhotoURL" placeholder="http://www.your_url.com">
      </div>
       <button type="submit" class="btn btn-primary">Submit Family</button>
       <button type="submit" class="btn btn-secondary">Add Child</button>
   </form>
</article>
