<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Family Form </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>
<body>
<div class="bs-example">
    <form>
        <div class="form-group">
            <label for="familyName">Family Name</label>
            <input type="Family Name" class="form-control" id="inputName" placeholder="FamilyName">
        </div>
        <div class="form-group">
            <label for="familyPhone">Phone Number</label>
            <input type="Phone Number" class="form-control" id="inputPhone" placeholder="Phone Number">
        </div>
                <div class="form-group">
            <label for="inputAddress">Home Address</label>
            <input type="address" class="form-control" id="inputAddress" placeholder="Address">
        </div>
                <div class="form-group">
            <label for="inputNanny">Nanny Name</label>
            <input type="inputNanny" class="form-control" id="inputNanny" placeholder="Nanny Name">
        </div>

        <div class="form-group">
    <label for="inputPhotoURL">Photo URL</label>
    <input type="inputPhotoURL" class="form-control" id="inputPhotoURL" placeholder="http://www.your_url.com">
</div>
        <!--<div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>-->
        <button type="submit" class="btn btn-primary">Submit Family</button>
        <button type="submit" class="btn btn-secondary">Add Child</button>
    </form>
</div>
</body>
</html>
