
<h1 id="childrenView"> Children </h1>

<div ng-controller='HomeController' ng-show='familyPage()' class='childWrap'>
<div class='childViewWrap' ng-repeat="childInfo in familyInfo.children">

  <div class='info'>
    <h1>{{childInfo.name}}</h1>
    <li>Age: {{childInfo.age}}</li>
    <li>Allergies: {{childInfo.allergies}}</li>
    <li>Bed Time: {{childInfo.bed_time}}</li>
    <li>Favorite Food: {{childInfo.fav_food}}</li>
    <li>Interests: {{childInfo.interests}}</li>
    <li>Potty Trained: {{childInfo.potty_trained === 't' ? 'Yes':'No'}}</li>
    <li>Special Needs: {{childInfo.special_needs === 't' ? 'Yes':'No'}}</li>

  </div>

</div>
</div>

<div ng-controller='HomeController' ng-show='nannyPage()' class='childWrap'>
<div class='childViewWrap' ng-repeat="childInfo in nannyInfo.children">

  <div class='info'>
    <h1>{{childInfo.name}}</h1>
    <li>Age: {{childInfo.age}}</li>
    <li>Allergies: {{childInfo.allergies}}</li>
    <li>Bed Time: {{childInfo.bed_time}}</li>
    <li>Favorite Food: {{childInfo.fav_food}}</li>
    <li>Interests: {{childInfo.interests}}</li>
    <li>Potty Trained: {{childInfo.potty_trained === 't' ? 'Yes':'No'}}</li>
    <li>Special Needs: {{childInfo.special_needs === 't' ? 'Yes':'No'}}</li>

  </div>

</div>
</div>
