<div class="header">
  <div class="logoLeft">
    <a href="/nanny-hero-frontend/#/"><h1>NannyHero</h1></a>
  </div>
</div>

<div class='pageWrap'>
<div class='contentWrap'>
<div class='familyViewWrap' ng-controller='HomeController'>

  <div class='picture'>
    <img ng-src={{familyInfo.img}} alt="">
  </div>

  <div class='info'>
    <h1>{{familyInfo.name}}</h1>
    <li><i class="fa fa-phone"></i>{{familyInfo.phone_number}}</li>
    <li><i class="fa fa-home"></i>{{familyInfo.address}}</li>
    <li><i class="fa fa-user"></i>{{familyInfo.nanny}}</li>
  </div>

  <div class='viewChildren'>
    <button type="submit" class="btn btn-primary" ng-click="open(lg)">Child Info</button>
  </div>

  <div class='deleteFromView'>
    <i class="fa fa-times" ng-click="deleteFamily()"></i>
  </div>


</div>
</div>
</div>
