<div class="header">
  <div class="logoLeft">
    <a href="/nanny-hero-frontend/#/"><h1>NannyHero</h1></a>
  </div>
  <div class="logoRight">
    <h1>Welcome, {{nannyName}}!</h1>
  </div>
</div>

<div class='pageWrap'>
<div class='contentWrap'>
<div class='nannyViewWrap' ng-controller='HomeController' ng-repeat="n in nannyInfo.data.families">

  <div class='picture'>
    <img ng-src="{{n.picture}}" alt="">
  </div>

  <div class='info'>
    <h1>{{n.name}}</h1>
    <li><i class="fa fa-phone"></i>{{n.phone_number}}</li>
    <li><i class="fa fa-home"></i>{{n.address}}</li>
  </div>

  <div class='viewChildren'>
    <button type="submit" class="btn btn-primary" ng-click="open(n)">Child Info</button>
  </div>

  <div class='deleteFromView'>
    <i class="fa fa-times" ng-click="deleteNanny(nannyInfo.name)"></i>
  </div>


</div>
</div>
</div>
